<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TorHazahav.Properties.Settings.TOR_HAZAHAVConnectionString"
            connectionString="Data Source=DESKTOP-805B3L5\SQLEXPRESS;Initial Catalog=TOR_HAZAHAV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>